<?php

$header = <<<EOF
@project Chilean Rut
@link https://github.com/mnavarrocarter/chilean-rut
@package mnavarrocarter/chilean-rut
@author Matias Navarro-Carter mnavarrocarter@gmail.com
@license MIT
@copyright 2020 Matias Navarro Carter

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
EOF;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'declare_strict_types' => true,
        'strict_comparison' => true,
        'phpdoc_no_empty_return' => true,
        'header_comment' => ['header' => $header, 'comment_type' => 'PHPDoc'],
        'yoda_style' => [
            'equal' => false,
            'identical' => false,
            'less_and_greater' => false,
            'always_move_variable' => true
        ],
    ])
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->in(__DIR__.'/src')
    )
;